.footerCard{
    background-color: #333e4f;
    height: 200px;
    text-align: center;
    margin-bottom: 0px;
}

.icons{
padding: 40px;
}
.icons a{
    color: antiquewhite; 
    padding:10px;
}

.icons a:hover{
        color: antiquewhite; 

}

.footerCard p{
    font-size:20px;
    color: burlywood;
}
